body{
    background-color: black !important;
    background-image: url(flower.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 21rem;
    background-repeat: no-repeat;
    overflow: hidden;
}
.img0{
    margin-top: 5rem;
}
#img7{
    display: none;
}
.over-img{
    position: relative;
    top: -27.9rem;
    left: 58rem;
    display: none;
}
.over-img2{
    position: relative;
    top: -31rem;
    left: 64rem;
    display: none;
}
.over-img3{
    position: relative;
    top: -34rem;
    left: 60rem;
    display: none;
}
.over-img4{
    position: relative;
    top: -37rem;
    left: 65.8rem;
    display: none;
}
.fade-in {
animation: fadeIn ease 8s;
-webkit-animation: fadeIn ease 8s;
-moz-animation: fadeIn ease 8s;
-o-animation: fadeIn ease 8s;
-ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
